.congratulation-container {
  background-color: white;
  padding: 20px; /* Add padding to create space around the content */
  /* position: absolute;
  top: 50%;
  left: 25%; */
  margin-top: 20rem;
}

h1,
h2 {
  font-size: 4rem;
  color: goldenrod;
  text-align: center;
}

p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: goldenrod;
  text-align: center;
}

img {
  width: 25rem;
  height: 20rem;
  position: absolute;
  top: 2%;
  left: 38%;
}

.heart {
  display: none;
  width: 4.5rem;
  height: 4.5rem;
  background-image: url("./heart.webp"); /* Replace 'heart.png' with your heart image */
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;
}

.heart.active {
  display: block;
}

.react-container {
  position: absolute;
  top: 95%;
  left: 50%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: auto;
}

.btn:hover {
  background-color: #0056b3; /* darker shade of the original color */
}

@media only screen and (max-width: 767px) {
  .congratulation-container {
    margin-top: 10rem; /* Adjust margin-top for smaller screens */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  img {
    width: 50%; /* Make the image responsive to fit smaller screens */
    height: auto; /* Maintain aspect ratio of the image */
  }
}
